certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
colorama==0.4.6
idna==3.11
pycparser==3.0
requests==2.33.1
sounddevice==0.5.5
srt==3.5.3
tqdm==4.67.3
urllib3==2.6.3
vosk==0.3.45
websockets==16.0